:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #5971c6;
}

html, body {
  margin: 0;
  height: 100% ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c5371e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: rgb(8, 8, 8);
  text-decoration:underline;
}

.car-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.car-card {
  border: 4px solid #000000;
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.car-card img {
  width: 50%;
}

.car-detail img {
  width: 100%;
}
